body{
	font-family: 'Lora', serif;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Poppins', sans-serif;

}
@media (min-width: 992px){
	.navbar-expand-lg .navbar-collapse {
		justify-content: flex-end;
	}
}

.navbar{
	padding: 20px 40px;
	
}

.navbar-brand img{
	width: 60px;
}

.navbar-nav li{
	padding: 0 10px;
}

#hero{
	height: 450px;
	background-image: url("../img/hero3.jpg");
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
}

.btn{
	border-radius: 0px;
	outline: 0 !important;
	border: none;
}

.btn-primary{
	background-color: #9fbd12;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
	background-color: #4a8500;
	border-color: #4a8500;
}

.btn-primary:focus{
	box-shadow: 0 0 0 0.2rem rgba(74,133,0,.5)
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
	background-color: #4a8500;
	border-color: #4a8500;
}

.content-center{
	bottom: calc(-100% + 20px);
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.bg-gray{
	background-color: #ececec;	
}

.no-pad{
	padding: 0px !important;
}

section{
	padding: 60px 0;
}

.feature-card{
	position: relative;
}
.feature-card:hover:before{
	opacity: 0.8;
}

.feature-card::before{
	content: " ";
	display: block;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #8a8a8a;
	opacity: 0.2;
	position: absolute;
	z-index: 1;
}


.feature-card img{
	width: 100%;
}

.feature-card-title{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #ffffff;
	z-index: 2;	
	width: 100%;
	padding: 0 10px;
}

.title{
	text-align: center;
	position: relative;
}

.title::after{
    content: " ";
    width: 50px;
    height: 5px;
    background-color: #4a8500;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}

#footer{
	background-color: #2c2c2c;
}

