.btn{
	border-radius: 0px;
	outline: 0 !important;
	border: none;
}

.btn-primary{
	background-color: #9fbd12;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
	background-color: #4a8500;
	border-color: #4a8500;
}

.btn-primary:focus{
	box-shadow: 0 0 0 0.2rem rgba(74,133,0,.5)
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
	background-color: #4a8500;
	border-color: #4a8500;
}